.footer {
  padding: 20px 10px 10px 10px;
  text-align: center;
  font-size: 14px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #55287C;
  font-weight: bold !important;
  text-transform: uppercase;
  color: #BDA8CE;
  letter-spacing: 1.3px;

  .container {
    padding: 40px 0px 20px 0px;
    background-color: #55287C;
  }

  a {
    color: #BDA8CE;

    &:hover {
      text-decoration: none;
      color: lighten(#BDA8CE, 5%);
    }
  }
}