.competition-show-page {
  .left-nav {
    .event-image-container {
      img {
        width: 100%;
        border-radius: 10px;
      }
    }

    .left-nav-tabs {
      margin-top: 20px;

      @media (min-width: 992px) {
        margin-right: -30px;
        text-align: right;
      }

      @media (max-width: 992px) {
        margin-bottom: 30px;
        text-align: center;
      }

      .left-nav-tab-item {
        @media (min-width: 992px) {
          padding-right: 20px;
        }

        h3 {
          margin: 0px;
          padding: 10px;
          font-weight: bold;
        }

        &.active {
          @media (min-width: 992px) {
            padding-right: 10px;
            border-right: 10px solid #54287B;
          }

          @media (max-width: 992px) {
            a {
              border-bottom: 5px solid #54287B;
            }
          }
        }
      }
    }

    .admin-container {
      .btn {
        margin-top: 10px;
      }

      .publish-btn {
        margin-bottom: 20px;
      }
    }
  }

  .right-details-container {
    background-color: white;
    border-radius: 10px;

    @media (min-width: 992px) {
      padding: 30px;
    }

    @media (max-width: 992px) {
      padding: 10px;
    }

    .details-row {
      margin: 30px 0px;
    }

    .left-label {
      font-size: 20px;
    }

    .right-content {
      margin-top: 5px;
    }

    .participants-container {
      text-align: center;

      .interested-user-container {
        text-align: center;
        margin-bottom: 20px;

        .user-name {
          margin-top: 10px;
        }

        a {
          color: black;
          text-decoration: none;

          &:hover {
            color: lighten(black, 50%);
          }
        }
      }

      .prompt-user-to-mark-interested {
        font-size: 24px;
        padding: 100px 0px;

        i {
          font-size: 200px;
          margin-bottom: 30px;
          color: #D8D8D8;
        }
      }
    }

    .past-competitions-container {

    }

    .files-and-images-container {
      .files-and-images-list {
        margin-top: 40px;

        i.file-icon {
          font-size: 40px;
          margin-right: 10px;

          @media (max-width: 992px) {
            margin-bottom: 10px;
          }
        }

        i {
          color: #54287B;

          &:hover {
            color: lighten(#54287B, 5%);
          }
        }

        i.action-icon {
          font-size: 24px;
          margin-top: 10px;

          @media (min-width: 992px) {
            margin-left: 10px;
          }

          @media (max-width: 992px) {
            margin-right: 10px;
          }
        }

        .filename-display {
          font-size: 16px;
        }

        .file-image-container {
          position: relative;

          img {
            width: 100%;
            margin-bottom: 30px;
          }

          .delete-image-icon {
            position: absolute;
            top: -8px;
            right: 1px;
            font-size: 30px;
          }
        }
      }
    }

    .mobile-button-container {
      text-align: center;
      margin-bottom: 20px;
    }
  }
}
