css:
  html, body {
    background-color: #55287C;
  }

  .container {
    background-color: white;
    padding: 0px;
  }

  .inner-container {
    padding: 20px 15px;
    margin-bottom: 100px;
  }

  .row {
    margin-left: 0px;
    margin-right: 0px;
  }